.env
fr_lexique-383-.tsv
fr_sentences_shrt.tsv
fr_sentences.tsv
fr_sm_lexique-383-.tsv
fra_sentences_detailed.tsv.bz2
fra_sentences.tsv.bz2
Sentence pairs in French-English - 2024-06-17.tsv
Sml - Sentence pairs in French-English - 2024-06-17.tsv
saved_sentences.json
kafka_test.py